<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        <title>{{ .Site.Title }}</title>
        <link rel="cannonical" href="{{ .Site.BaseURL }}">
        <link rel="stylesheet"  href="style.css">
        <link rel="stylesheet"  href="syntax.css">

        <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
    </head>

    <body>
        <main>
            <div id="content-grid">
