<nav role="navigation">
    <div class=row id="burger-menu">
        <input type="checkbox" id="hamburger">
        <label for="hamburger" class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </label>
        <div id="nav-menu-content">
            <ul>
                {{ if ne .IsHome true }}
                    <li><a href="/">Home</a></li>
                {{ end }}
                {{ range .Site.Menus.burgermenu }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
<div id="title-container">
    <h1 id="page-title">{{ .Title }}</h1>
</div>
<div id="nav-right-hand">
    <img src="https://avatars.githubusercontent.com/u/92064198?v=4" id="avatar-img" alt="avatar">
</div>

