<nav role="navigation">
    <div class=row id="burger-menu">
        <input type="checkbox" id="hamburger">
        <label for="hamburger" class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </label>
        <div id="nav-menu-content">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">CTF</a></li>
                <li><a href="#">Learning</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="title-container">
    <h1 id="page-title">{{ .Title }}</h1>
</div>
<div id="nav-right-hand">
    <img src="https://avatars.githubusercontent.com/u/92064198?v=4" id="avatar-img" alt="avatar">
</div>

