html {
    background-color: #181F2C;
}

#content-grid {
    display: grid;
    grid-row-gap: .5px;
    grid-template-columns: 10% [col-start] 70% [col-start] 20% [col-start];
    grid-template-rows: [row1-start] 90px [row1-end row2-start] 90% [row2-end];
}

nav {
    width: 100%;
    position: static;
    margin-top: 20px;
    flex-shrink: 0;
    grid-column-start: 3;
    grid-column-end: col3-end;
    grid-row-start: row1-start;
    grid-row-end: 2;
    display: flex;
    border-block-end: .5px solid black;
}

#nav-menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    padding: 0 0 0 10px;
    margin-top: 4px;
    display: flex;
    justify-content: center;
}

#nav-menu-content ul {
    list-style-type: none;
    padding: 0;
}

#nav-menu-content ul li a:link {
    text-decoration: none;
    font-size: 1.3em;
}

input:checked ~ #nav-menu-content {
    max-height: 100%;
}

#nav-menu-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

#nav-menu-content a:visited {
    color: #CCCCCC
}

#nav-menu-content a:link {
    color: #CCCCCC
}

#nav-menu-content a:active {
    color: #CCCCCC
}

#title-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: row1-start;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CCCCCC;
    border-block-end: .5px solid black;
}

#title-container h1 {
    margin-left: 36px;
}

#nav-right-hand {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: row1-start;
    grid-row-end: 2;
    border-block-end: .5px solid black;
    display: flex;
}

#avatar-img {
    max-width: 75px;
    max-height: 75px;
    min-width: 75px;
    min-height: 75px;
    border-radius: 50%;
    border: solid 1px black;
}

label.hamburger {
    display: block;
    width: 75px; height: 50px;
    position: relative;
    margin-left: auto; margin-right: auto;
    border-radius: 4px;
    cursor: pointer;
}

input#hamburger {display:none;}

.line {
    position: absolute;
    left: 10px;
    height: 4px; width: 55px;
    background: #fff; border-radius: 2px;
    display: block;
    transition: 0.5s;
    transform-origin: center;
}

/* Animation for rotating stripes in Burger Menu */
.line:nth-child(1) { top: 12px; }
.line:nth-child(2) { top: 24px; }
.line:nth-child(3) { top: 36px; }

#hamburger:checked + .hamburger .line:nth-child(1){
    transform: translateY(12px) rotate(-45deg);
}

#hamburger:checked + .hamburger .line:nth-child(2){
    opacity:0;
}

#hamburger:checked + .hamburger .line:nth-child(3){
    transform: translateY(-12px) rotate(45deg);
}

#hamburger:checked ~ #burger-menu {
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

#burger-menu {
    position: absolute;
    width: 20%;
    background: #181F2C;
}

.article-container {
    padding: 32px 32px 32px 32px;
    display: flex;
    justify-content: start;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: row2-start;
    grid-row-end: 3;
    width: 95%;
}

article {
    display: flex;
    max-width: 800px;
    justify-content: start;
    margin-left: 12px;
    align-items: center;
    flex-direction: column;
    color: #CCCCCC;
    contain: layout;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    width: 95%;
}

article p {
    font-size: 1.1em;
}

.command code::before {
    content: "$ ";
}
